<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Error</title>
  </head>
  <body>
    <h1>Error: 401</h1>
    <p>You are not authorized :/</p>
    <a href="/login">To Login</a>
  </body>
</html>
