<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/home.css" />
    <title>Files</title>
  </head>
  <body>
    <div>
      <div class="header">
        <div class="logout">
          <a href="/logout">logout </a>
        </div>

        <form
          class="inputForm"
          action="/upload"
          method="post"
          enctype="multipart/form-data"
        >
          <label for="file">Upload a file</label>
          <input
            id="file"
            name="file"
            type="file"
            autocomplete="file"
            required
            autofocus
          />

          <button type="submit">Upload</button>
        </form>

        <form class="inputForm" action="/folder" method="post">
          <p>Create a new folder</p>
          <label for="file">Name:</label>
          <input
            id="name"
            name="name"
            type="text"
            autocomplete="name"
            required
            autofocus
          />

          <button type="submit">Create</button>
        </form>
      </div>

      <div class="folderDisplay">
        <% folders.map((folder) => { %>
        <div class="folder">
          <a class="folderAnchor" href="/folder/<%= folder.id %>">
            <img src="folder.png" height="200px" width="200px" />
            <p class="folderName"><%= folder.name %></p>
          </a>
        </div>
        <% }) %>
      </div>

      <div class="fileDisplay">
        <% files.map((file) => { %>
        <div class="file">
          <a class="fileAnchor" href="/folder/0/<%= file.id %>">
            <img src="file.png" height="150px" width="150px" />
            <p class="fileName"><%= file.name %></p>
          </a>
        </div>
        <% }) %>
      </div>
    </div>
  </body>
</html>
